<div class="card">
  <div class="card-body bg-dark">
    <form #productForm="ngForm" (ngSubmit)="onProdAdd()">
      <div class="form-group">
        <label for="productName" class="text-white">Product Name</label>
        <input
          required
          type="text"
          ngModel
          name="productName"
          id="productName"
          #productName="ngModel"
          class="form-control text-white bg-dark"
        />
      </div>
      <div class="form-group">
        <label for="productDetail" class="text-white">Product Detail</label>
        <textarea
          required
          type="text"
          rows="5"
          ngModel
          name="productDetail"
          #productDetail="ngModel"
          id="productDetail"
          class="form-control text-white bg-dark"
        ></textarea>
      </div>
      <button [disabled]="productForm.invalid" mat-raised-button color="accent">
        Add Product
      </button>
    </form>
  </div>
</div>
